@using System.Text.Json
@using SecurityEducation.Dtos
@{
    ViewData["Title"] = "Avsnitt";
}
@{
    var episodes = JsonSerializer.Serialize((List<EpisodeDto>)Model.Episodes);
}


<link rel="stylesheet" href="/css/Episode.css" asp-append-version="true" />
<div>
    <h2>Välj avsnitt</h2>
</div>
<div class="episode-container">
    @foreach (var episode in Model.Episodes)
    {
        <a class="epi-focus" href="@Url.Action("ReadingMaterials", "ReadingMaterial", new { chapterId = episode.ChapterId, episodeId = episode.Id })">
            <div class="episode-div" data-episode-div="@episode.Id">
                <p class="episode-name">@episode.Name</p>
                <p class="estimated-time">Uppskattad tidsåtgång: ca @episode.EstimatedTime</p>
                <div class="episode-result">
                    <p class="completed"></p>
                    <p class="result-text"></p>
                </div>
                <img class="episode-img" alt="@episode.ImageAltText" src="@episode.ImageUrl" />
                <p class="episode-description">@episode.Description</p>
                <p class="enter-episode">Öppna avsnitt</p>
            </div>
        </a>
    }

</div>
<div class="button-container">
    <button aria-label="Gå tillbaka till välj kapitel" id="back-btn" onclick="location.href = '@Url.Action("Index", "Chapter")'">Gå till Välj kapitel</button>
</div>

<script>
    var episodes = @Html.Raw(episodes);
</script>

<script src="~/js/Episode.js"></script>
