@{
    ViewData["Title"] = "Läsmaterial";
}
<link rel="stylesheet" href="~/css/ReadingMaterial.css" asp-append-version="true" />


<div class="reading-over-div">
    <h2>@ViewBag.EpisodeName</h2>
    <div class="reading-material-slide-cont">
        
        @for (int i = 0; i < Model.ReadingMaterials.Count; i++)
        {
            var readingMaterials = Model.ReadingMaterials[i];
            <div class="mySlides fade">
                <div class="number-text">@readingMaterials.PageNumber/@Model.ReadingMaterials.Count</div>
                <div class="material-name">@readingMaterials.Name</div>
                <div class="text-and-img-container">
                    <div class="material-text">
                        @foreach (var line in readingMaterials.Content.Split('\n'))
                        {
                            if (!string.IsNullOrWhiteSpace(line))
                            {
                                <p>@line.Trim()</p>
                            }
                        }
                    </div>
                    <img class="slide-img" alt="@readingMaterials.ImageAltText" src="@readingMaterials.ImageUrl" />
                </div>
                <div class="button-container">
                    <button aria-label="Gå tillbaka till välj avsnitt" id="back-btn" onclick="history.back()">Gå tillbaka till Välj avsnitt</button>
                    @if (i == Model.ReadingMaterials.Count - 1)
                    {
                        <button aria-label="Starta provet" id="start-test-btn" onclick="location.href='@Url.Action("TestStartPage", "Test", new { chapterId = ViewBag.ChapterId, episodeId = readingMaterials.EpisodeId })'">Starta prov!</button>
                    }
                </div>
            </div>
        }
        

        <a class="prev" href="#" alt="Bakåt" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" href="#" alt="Framåt" onclick="plusSlides(1)">&#10095;</a>
        <a aria-label="Tillbaka till föregående slide" class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a aria-label="Gå Till nästa slide" class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>    

    <div style="text-align:center">
        @for (int i = 0; i < Model.ReadingMaterials.Count; i++)
        {
            <span class="dot" onclick="currentSlide(@(i + 1))"></span>
        }
    </div>
</div>

<script src="/js/Readingmaterial.js"></script>

